.counter_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 500px;
    font-family: 'Exo 2', sans-serif;
    border: 1px solid rgb(243, 239, 239);
    box-shadow: 0 0 6px 1px rgb(234, 231, 231);
  }
  
  .button_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .button_count {
    width: 30px;
    height: 30px;
  }
  
  .counter_wrapper_value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blueviolet; */
    width: 200px;
  }